.app--canvas {
    width: 550px;
    height: 90vh;
    /* background-color: azure; */
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    overflow: scroll;
    border-radius: 10px;
}

/* Intro Page Styles */

.intro-page {
    padding: 10px;
    background-color: #273f6e;
    height: 550px;
    position: relative;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Inter-Medium", Helvetica;

    h1 {
        color: #293264;

        font-family: "Karla-Bold", Helvetica;

        font-size: 31.2px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-align: center;
        top: 0;
        width: 412px;
    }

    h3 {
        color: #293264;
        font-family: "Inter-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        left: 117px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-align: center;
        top: 265px;
        white-space: nowrap;
        width: 318px;
    }


}

.quiz-button {
    background-color: #4d5b9e;
    border-radius: 15px;
    height: 52px;
    font-size: 18px;
    position: relative;
    width: 193px;
    border: none;
    align-self: center;
}

.quiz-params {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}

.param {
    /* margin: 5px 0; */
    background: none;
    color: inherit;
    border-radius: 6px;
    min-width: 50px;
    display: flex;

    .param-input {
        margin-left: 5px;

        background: none;
    }


}

/* Quiz Styles */

.quiz-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #293264;
    margin: 0 75px;
}

.options-container {
    display: grid;
    grid-template-columns: 1 fr 1 fr;
}

.question {
    color: #293264;
    /* font-family: Karla; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.choices {
    label {
        font-size: 12px;
        border-radius: 7.71px;
        border: 0.771px solid #4D5B9E;
        padding: 3px 8px;
    }



    input {
        display: none;
    }
}

.answer-choices {
    display: flex;
    justify-content: space-evenly;
}

.choice:hover {
    background: #f1f5d699;
}


.selected {
    background: #D6DBF5;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: red;
}

.right {
    background: orange;
}